BODY {
	WIDTH: 0px; FONT-FAMILY: Verdana, Georgia, sans-serif; HEIGHT: 0px; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Georgia, sans-serif
}
P {
	MARGIN-TOP: 20px; FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: Verdana, Georgia, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #1578b0; TEXT-DECORATION: none
}
.pageContent {
	VERTICAL-ALIGN: top; WIDTH: 567px
}
.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 6px; COLOR: #1578b0; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: 11px; PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: disc
}
LI.numberedSteps {
	LIST-STYLE-TYPE: decimal
}
UL {
	LIST-STYLE-TYPE: disc
}
.copyright {
	FONT-SIZE: 9px; COLOR: #999999
}
.privacy {
	FONT-SIZE: 9px; COLOR: #333333
}
.feature {
	MARGIN-TOP: 22px; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 6px; COLOR: #1578b0; LINE-HEIGHT: 16px; BORDER-BOTTOM: #d6d6d6 8px solid
}
DIV.picRight {
	FLOAT: right
}
.dotsvert {
	BACKGROUND-IMAGE: url(images/dots_vert.gif); BACKGROUND-REPEAT: repeat-y
}
.bgactionbar {
	BACKGROUND-IMAGE: url(images/bg_actionbar.gif); BACKGROUND-REPEAT: repeat-x
}
.dotsvert2 {
	BACKGROUND-IMAGE: url(images/dots_vert2.gif); BACKGROUND-REPEAT: no-repeat
}
.text {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.textblue {
	FONT-SIZE: 12px; COLOR: #1578b0
}
.textgrey {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Georgia, sans-serif
}
.ltgrey {
	BACKGROUND-COLOR: #cccccc
}
.subheadblue {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/dingbat2.gif) no-repeat 0px 24px; PADDING-BOTTOM: 6px; COLOR: #1578b0; PADDING-TOP: 20px; FONT-FAMILY: Arial, Verdana, Georgia, sans-serif; TEXT-DECORATION: none
}
.majorheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 6px; COLOR: #1578b0; PADDING-TOP: 0px; FONT-FAMILY: Arial, Verdana, Georgia, sans-serif; TEXT-DECORATION: none
}
.tableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #234f7b; FONT-FAMILY: Verdana, Georgia, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.columnHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #234f7b; FONT-FAMILY: Verdana, Georgia, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
.bulletTitle {
	FONT-WEIGHT: bold
}
.quote {
	COLOR: #888888; FONT-STYLE: italic
}
.quoteBlock {
	PADDING-RIGHT: 14px; VERTICAL-ALIGN: top; WIDTH: 100%; HEIGHT: 100%
}
.quoteImage {
	PADDING-RIGHT: 6px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle
}
.pageRightMargin {
	WIDTH: 1px
}
A.blk:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blk:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blk:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.blkbold:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.blkbold:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.blkbold:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
A.blueboldlink:link {
	FONT-WEIGHT: bold; COLOR: #1578b0; TEXT-DECORATION: none
}
A.blueboldlink:visited {
	FONT-WEIGHT: bold; COLOR: #1578b0; TEXT-DECORATION: none
}
A.blueboldlink:hover {
	FONT-WEIGHT: bold; COLOR: #1578b0; TEXT-DECORATION: none
}
A:link {
	COLOR: #1578b0; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #1578b0; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #b8a24f; TEXT-DECORATION: underline
}
.leftNav {
	VERTICAL-ALIGN: top; WIDTH: 148px
}
#navlist {
	PADDING-LEFT: 16px; MARGIN-LEFT: 10px; WIDTH: 148px
}
#navlist LI {
	PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px; LIST-STYLE-TYPE: none
}
#navlist LI#active {
	LIST-STYLE-IMAGE: url(images/arrow.gif); COLOR: #b8a24f; LIST-STYLE-TYPE: none
}
#navlist LI A {
	COLOR: #000000; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#navlist LI A:hover {
	COLOR: #b8a24f; TEXT-DECORATION: underline
}
A.pulldown:link {
	COLOR: #1578b0; TEXT-DECORATION: none
}
A.pulldown:visited {
	COLOR: #1578b0; TEXT-DECORATION: none
}
A.pulldown:hover {
	COLOR: #1578b0; TEXT-DECORATION: none
}
.seeItLeftMargin {
	WIDTH: 20px
}
.seeItTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/dingbat2.gif) no-repeat 0px 24px; PADDING-BOTTOM: 6px; COLOR: #1578b0; PADDING-TOP: 20px; FONT-FAMILY: Arial, Verdana, Georgia, sans-serif; TEXT-DECORATION: none
}
.seeItImage {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
.seeItBodyText {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 11px; COLOR: #444444; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.customerProfileTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #1578b0; PADDING-TOP: 35px; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.customerProfileName {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1578b0; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.customerProfileCompany {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: #888888; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.customerProfileCaption {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Georgia, sans-serif; HEIGHT: 150px
}
.customerProfileTextFirstP {
	FONT-SIZE: 11px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.customerProfileText {
	FONT-SIZE: 11px; COLOR: #444444; PADDING-TOP: 12px; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.customerProfileTextBullets {
	PADDING-LEFT: 30px; FONT-SIZE: 11px; COLOR: #444444; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Georgia, sans-serif
}
.customerProfileImage {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.customerProfileAkeshGupta {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigAkeshGupta.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileCKTan {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigCKTan.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileFrankDonovan {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigFrankDonovan.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileFrankMainzer {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigFrankMainzer.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileGaryHopkins {
	PADDING-RIGHT: 15px; PADDING-LEFT: 160px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigGaryHopkins.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileGeorgeVerras {
	PADDING-RIGHT: 5px; PADDING-LEFT: 130px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigGeorgeVerras.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileJackEmeleus {
	PADDING-RIGHT: 10px; PADDING-LEFT: 170px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigJackEmeleus.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileJasonCrismore {
	PADDING-RIGHT: 10px; PADDING-LEFT: 140px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigJasonCrismore.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileJavierRodriguezMesa {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigJavierRodriguezMesa.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileJohnYoder {
	PADDING-RIGHT: 15px; PADDING-LEFT: 200px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigJohnYoder.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileJosephCaracci {
	PADDING-RIGHT: 15px; PADDING-LEFT: 145px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigJosephCaracci.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileLanceMenchu {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigLanceMenchu.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileLarrySimpson {
	PADDING-RIGHT: 15px; PADDING-LEFT: 200px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigLarrySimpson.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileLesCardwell {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigLesCardwell.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileMichaelSumption {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigMichaelSumption.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileMichaelWeiss {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigMichaelWeiss.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileMikeWille {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigMikeWille.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileMilesGibson {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigMilesGibson.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileNickCravenSmith {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigNickCravenSmith.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileReginaldThorpe {
	PADDING-RIGHT: 5px; PADDING-LEFT: 145px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigReginaldThorpe.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileWilliamDotson {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigWilliamDotson.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
.customerProfileVivekKarnataki {
	PADDING-RIGHT: 25px; PADDING-LEFT: 195px; BACKGROUND-IMAGE: url(/profiles/images/CustomerProfileBigVivekKarnataki.gif); VERTICAL-ALIGN: bottom; WIDTH: 493px; HEIGHT: 240px; TEXT-ALIGN: left
}
